
$dark-grey: 	#313539; // blueish
// $dark-grey:	#28313a; // more saturated
$dark-mid-grey: lighten($dark-grey, 20%);
$mid-grey:		lighten($dark-grey, 40%);
$almost-white:	lighten($dark-grey, 60%);
$warm-grey:		#9f9b8e;
// $dark-grey: #3f3a49; // purpleish

// $magenta:		#9e0038; // less magenta-ey
$magenta: 		#9e004f;
$dark-red: 		#96171a;
$sunshine:		#ffd990;
$grey-sunshine:	#dac6a1;
$sun-shadow:	lighten($grey-sunshine, 10%);
$light-sunshine:#fdf9e0;
$linkblue:		#3d72a6;
$bg-grey:		desaturate(darken($grey-sunshine, 10%), 20%);

$text:			$dark-grey;
$rule: 			desaturate(lighten($mid-grey, 20%), 30%);


%calluna {
  font-family: "calluna", serif;
  font-weight: 600;
}

%sans {
  // font-family: "camingodos-web", sans-serif;
  font-family: "calluna-sans", sans-serif;
  font-weight: 600;
}

%serif {
  font-family: "rooney-web", sans-serif;
  font-weight: 400;
}

%button {
	display: inline-block;
	padding: 0.75em 1em;
	font-size: 0.95em;
	font-weight: 600;
	text-transform: uppercase;
	@extend %sans;
	background: $sun-shadow;
	// background: lighten($warm-grey, 10%);
	color: $magenta;
	text-align: center;
	border-color: lighten($grey-sunshine, 5%);
	border-radius: 0.3em;
	line-height: normal;

	&:hover {
		background: lighten($grey-sunshine, 5%);
		border-color: $grey-sunshine;
	}
}

%button-lg {
	@extend %button;
	font-size: 1.2em;
	font-weight: 600;
	padding: 1em 1.25em;
	border-width: 0.2em;
}

%drop-cap {
	display: block;
	float: left;
	@extend %sans;
	color: $magenta;
	font-size: 3.25em;
	font-weight: 300;
	margin: 0.24em 0.05em 0.1em -0.1em;
}

%hyphenate {
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
}

/* The Magnificent Clearfix -- j.mp/bestclearfix */
%fixer {content: "\0020"; display: block; height: 0; overflow: hidden;}
%clearfix {
	zoom: 1; 
	&:before {@extend %fixer;}
	&:after {@extend %fixer; clear: both;}
}

@mixin transition ($prop: all, $duration: 0.25s, $ease: ease) {
  -webkit-transition: $prop $duration $ease;
  -moz-transition: $prop $duration $ease;
  -ms-transition: $prop $duration $ease;
  -o-transition: $prop $duration $ease;
  transition: $prop $duration $ease;
}

.drom {

	* {
	  	-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box; 
	}

	padding-top: 0;
	background: $light-sunshine;
	border-top: 1.25em solid $sun-shadow;
	color: $dark-mid-grey;
	line-height: 1.6em;

	section {
		border-top: 1.25em solid $sun-shadow;
		padding: 2.5em 0;
	}

	a {
		border-bottom: 0.15em solid lighten($linkblue, 45%);
		color: $linkblue;

		&:hover {
			background: none;
			border-color: lighten($linkblue, 20%);
		}
	}

	p {
		margin-top: 0;
	}

	.wrapper, article {
		max-width: 700px;
		padding: 0 1.25em;
		margin: 0 auto;
	}

	h1, h2 {
		color: $magenta;
		text-align: center;
		@extend %calluna;
		font-size: 3.75em;
		line-height: 1.1em;
		text-transform: none;
		text-shadow: none;
		letter-spacing: 0;
	}

	h3, h4 {
		color: $magenta;
	}

	h2 {
		font-size: 2.5em;
		margin-top: 0;
	}

	.menu-trigger {
		position: fixed;
		top: 1.25em;
		left: 0;
		margin-left: 1.5em;
		font-size: 1.15em;
		border: 0;
		color: $bg-grey;
		@extend %sans;
		text-transform: uppercase;

		i {
			font-size: 1.2em;
			vertical-align: text-bottom;
			line-height: 1em;
			margin-right: 0.34em;
		}
	}

	header {
		display: table;
		width: 100%;

		.head-wrap {
			padding: 3.5em 1.25em;
			text-align: left;
			vertical-align: middle;
			display: table-cell;
		}

		h1 {
			max-width: 540px;
			margin: 0 auto;
		}

		.intro {
			margin: 3.5em auto 5em;
		}

		figure a {
			@extend %button-lg;
			display: block;
		}

		#title {
			width: 100px;
			top: -0.5em;
		}

		p {
			font-size: 1.05em;
			line-height: 1.6em;

			&::first-letter {
				@extend %drop-cap;
			}
		}
	}

	#toc {
		text-align: center;
	}

	.chapter-num {
		display: block;
		color: $magenta;
		@extend %sans;
		font-size: 0.9em;
		font-weight: 700;
		text-transform: uppercase;
	}

	.toc-list {
		list-style: none;
		text-align: left;

		&:last-child {

			li:last-child a {
				padding: 0.7em 1em;
			}
		}

		a {
			display: block;
			padding: 0.75em 1em;
			border-bottom: 1px solid $rule;
			line-height: 1.4em;
			color: $dark-grey;

			&:hover {
				background-color: lighten($grey-sunshine, 12%);
			}
		}
	}

	#praise {

		.wrapper {
			max-width: 960px;
		}

		figure {

			.attr {
				@extend %sans;
				color: $magenta;
				margin: -0.75em 0 2.5em;
			}
		}
	}

	&.chapter {
		border: 0;
		background: $light-sunshine;
		color: $text;
		font-weight: 400;

		header {
			// background: $sun-shadow;
			margin-bottom: 1em;

			a {
				color: $bg-grey;
			}

			.wrapper {
				width: auto;
				max-width: none;
				margin-top: 0.9em;
			}

			h3 {
				font-size: 1.25em;
				margin: 0;
				padding-top: 3em;
				max-width: none;
				text-align: center;
				@extend %sans;
				font-weight: 600;
				text-shadow: none;

				a {
					// color: $dark-mid-grey;
					border-width: 0.1em;
					border-color: rgba($bg-grey, 0.5);

					&:hover {
						border-color: $bg-grey;
					}
				}
			}

			#project-of {
				width: 12em;
				border: 0;
				// color: $dark-mid-grey;
				@extend %sans;
				// text-transform: uppercase;
				// font-weight: 700;
				line-height: normal;
				// font-size: 0.95em;
				position: absolute;
				right: 2em;
				text-align: right;
			}

			#title {
				position: static;
				margin: 0;
				margin-top: -1.33em;
				margin-left: 0.75em;
				left: auto;
				top: -1em;
				width: 80px;
				float: right;
			}
		}

		section {
			border: 0;
		}

		nav.chapters {
			position: static;
			background: none;
			@extend %sans;
			@extend %clearfix;
			display: none;

			// next/previous
			&#side a {
				position: fixed;
				width: 13em;
				top: 50%;
				left: -10.5em;
				height: 9em;
				margin-top: -4.5em;
				padding-right: 0;
				@extend %button;
				// @extend %serif;
				font-size: 1.05em;
				text-transform: none;
				color: $dark-mid-grey;
				@extend %hyphenate;
				@include transition(all, 0.4s);

				.chapter-num {
					margin-bottom: 0.5em;
					font-size: 0.9em;
				}

				&:hover {
					left: 0;
				}

				&.next {
					left: auto;
					right: -10.5em;
					padding-right: 1em;
					padding-left: 0;

					&:hover {
						left: auto;
						right: 0;
					}

					i {
						float: left;
					}
				}
			}

			i {
				display: block;
				float: right;
				height: 100%;
				width: 2.5em;
				padding-top: 3em;
				text-align: center;
				font-size: 1.15em;
				color: darken($bg-grey, 5%);

				.next & {
					float: left;
				}
			}

			ul {
				// font-size: 0;
				text-align: center;
				margin: 2em 0;
				list-style: none;
				padding: 0;
				max-width: none;
			}

			li {

				&:before {
					display: none;
				}

				a {
					@extend %button;
					display: block;
					float: none;
					border-top: 0;
					text-transform: none;
					color: $dark-mid-grey;
					text-align: left;
					height: 6em;
					padding-left: 0;

					.chapter-num {
						color: $magenta;
					}

					&.next {
						text-align: right;
						padding-left: 1em;
						padding-right: 0;

						i {
							float: right;
						}
					}

					i {
						float: left;
						padding-top: 1.5em;
						height: 100%;
					}
				}
			}
		}

		h2 {
			@extend %sans;
			font-weight: 600;
			text-transform: uppercase;
			font-size: 1.4em;
			text-align: center;
			margin-bottom: 0.75em;
		}

		h1 {
			font-size: 2em;
			max-width: 18em;
			margin: 0 auto;
			padding: 0 0.33em;
			margin-bottom: 1.25em;
		}

		#main {
			padding-top: 1em;
		}

		.toc {
			// position: fixed;
			margin: 0;
			// width: 20%;
			// top: 0;
			// height: 100%;
			background: lighten($sun-shadow, 1%);
			display: none;
			font-size: 0.9em;
			line-height: 1.33em;
			padding: 8.5em 0 6.5em;

			a {
				color: $text;
				display: block;

				&:hover {
					background: lighten($grey-sunshine, 5%);
				}

				span {
					@extend %sans;
					color: $magenta;
					font-size: 0.925em;
					font-weight: 700;
					margin-right: 0.75em;
					text-transform: uppercase;
				}
			}

			ol {
				list-style: none;
			}

			& > ol > li {
				border-bottom: 0.15em solid lighten($grey-sunshine, 5%);

				& > a {
					padding: 0.5em 1.25em;
					border: 0;
				}

				&:hover {
					border-color: $grey-sunshine;
				}

				li {
					a { 
						border: 0;
						padding: 0.25em 0 0.25em 3em;
					}
				}
			}

			.active {
				color: $magenta;
				background-color: lighten($grey-sunshine, 5%);
			}
		}

		article {
			max-width: 40em;
			margin-bottom: 3em;

			p:first-of-type::first-letter {
				@extend %drop-cap;
				// font-size: 5.66em;
				// font-weight: 100;
			}

			h1 + p, h2 + p, h3 + p, h4 + p, p:first-of-type {
				text-indent: 0;
			}

			h2, h3, h4 {
				@extend %sans;
				font-weight: 300;
				font-size: 1.85em;
				text-shadow: none;
				text-align: left;
				margin: 1.15em 0 0.5em 0;
				text-transform: none;
				color: $magenta;
			}

			h3 {
				font-size: 1.25em;
				font-weight: 600;
			}

			h4 {
				font-size: 1.25em;
				font-weight: 300;
				color: $dark-grey;
			}

			ul {
				// list-style: square;
				margin: 1.25em 0;
				margin-left: 2em;

				li:before {
					content: '\25a0';
					color: $magenta;
					padding-right: 0.5em;
				}

				li {
					text-indent: -1em;
				}
			}

			p {
				margin-bottom: 0;
				text-indent: 2em;

			}

			&.resources {
				font-size: 0.85em;
				line-height: 1.65em;
				max-width: 46.5em;
			}

			.chapters {
				display: block;
			}
		}
	}
}



@media only screen and (min-width: 720px) {

	.drom {

		header {
			.wrapper {
				width: 700px;
			}
		}

		.toc-list {
			width: 47%;
			display: inline-block;
			vertical-align: top;

			&:last-child {
				margin-left: 5%;
			}
		}

		figure {
			width: 47%;
			display: inline-block;
			vertical-align: top;

			&:nth-of-type(even) {
				margin-left: 5%;
			}
		}

		&.chapter {

			header {
				margin-bottom: 2.5em;
			}

			nav.chapters {
				display: block;
			}

			header h3 {
				padding: 0.5em 0;
			}

			h1 {
				font-size: 2.75em;
			}

			article {
				.chapters li {
					float: left;
					width: 49.5%;
					text-align: left;

					&:last-child {
						float: right;
						text-align: right;
					}
				}
			}
		}

	}

}



@media only screen and (min-width: 1040px) {

	.drom.chapter {

		h1 {
			font-size: 3em;
		}

		article {
			font-size: 1.05em;
			line-height: 1.6em;

			p {
				text-indent: 2.5em;
			}

			ul {
				margin-left: 2.5em;
			}

			&.resources {
				font-size: 0.885em;
				line-height: 1.65em;
			}
		}
	}

}