.drom h1, .drom h2 {
  font-family: "calluna", serif;
  font-weight: 600; }

.drom header figure a, .drom.chapter nav.chapters#side a, .drom.chapter nav.chapters li a, .drom header p::first-letter, .drom.chapter article p:first-of-type::first-letter, .drom .menu-trigger, .drom .chapter-num, .drom #praise figure .attr, .drom.chapter header h3, .drom.chapter header #project-of, .drom.chapter nav.chapters, .drom.chapter h2, .drom.chapter .toc a span, .drom.chapter article h2, .drom.chapter article h3, .drom.chapter article h4, .drom.chapter article ol > li:before, .drom.chapter article dl dt, .drom.chapter article aside {
  font-family: "calluna-sans", sans-serif;
  font-weight: 600; }

.drom header figure a, .drom.chapter nav.chapters#side a, .drom.chapter nav.chapters li a {
  display: inline-block;
  padding: 0.75em 1em;
  font-size: 0.95em;
  font-weight: 600;
  text-transform: uppercase;
  background: #e8dcc6;
  color: #9e004f;
  text-align: center;
  border-color: #e1d1b3;
  border-radius: 0.3em;
  line-height: normal; }
  .drom header figure a:hover, .drom.chapter nav.chapters#side a:hover, .drom.chapter nav.chapters li a:hover {
    background: #e1d1b3;
    border-color: #dac6a1; }

.drom header figure a {
  font-size: 1.2em;
  font-weight: 600;
  padding: 1em 1.25em;
  border-width: 0.2em; }

.drom header p::first-letter, .drom.chapter article p:first-of-type::first-letter {
  display: block;
  float: left;
  color: #9e004f;
  font-size: 3.25em;
  font-weight: 300;
  margin: 0.2em 0.05em 0.05em -0.1em; }

.drom.chapter nav.chapters#side a, .drom.chapter article aside ol, .drom.chapter article aside ul, .drom.chapter article aside p {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto; }

/* The Magnificent Clearfix -- j.mp/bestclearfix */
.drom.chapter nav.chapters:before, .drom.chapter nav.chapters:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden; }

.drom.chapter nav.chapters {
  zoom: 1; }
  .drom.chapter nav.chapters:after {
    clear: both; }

.drom {
  padding-top: 0;
  background: #fdf9e0;
  border-top: 1.25em solid #e8dcc6;
  color: #606870;
  line-height: 1.6em; }
  .drom * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  .drom section {
    border-top: 1.25em solid #e8dcc6;
    padding: 2.5em 0; }
  .drom a {
    border-bottom: 0.15em solid #d8e4f1;
    border-color: rgba(123, 165, 206, 0.33);
    color: #3d72a6; }
    .drom a:hover {
      background: none;
      border-color: #7ba5ce; }
  .drom p {
    margin-top: 0; }
  .drom .wrapper, .drom article {
    max-width: 700px;
    padding: 0 1.25em;
    margin: 0 auto; }
  .drom h1, .drom h2 {
    color: #9e004f;
    text-align: center;
    font-size: 3.75em;
    line-height: 1.1em;
    text-transform: none;
    text-shadow: none;
    letter-spacing: 0; }
  .drom h3, .drom h4 {
    color: #9e004f;
    line-height: normal; }
  .drom h2 {
    font-size: 2.5em;
    margin-top: 0; }
  .drom .menu-trigger {
    position: fixed;
    top: 0;
    left: -0.5em;
    padding: 0.5em;
    padding-top: 1.05em;
    margin-left: 0.85em;
    font-size: 1.25em;
    border: 0;
    color: #b9aa8f;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 300;
    background: #fdf9e0; }
    .drom .menu-trigger i {
      font-size: 0.8em;
      vertical-align: text-bottom;
      line-height: 1.4em;
      margin-right: 0.34em; }
    .drom .menu-trigger:hover {
      background: #fdf9e0; }
  .drom header {
    display: table;
    width: 100%; }
    .drom header .head-wrap {
      padding: 3.5em 1.25em;
      text-align: left;
      vertical-align: middle;
      display: table-cell; }
    .drom header h1 {
      max-width: 540px;
      margin: 0 auto; }
    .drom header .intro {
      margin: 3.5em auto 5em; }
    .drom header figure a {
      display: block; }
    .drom header #title {
      width: 100px;
      top: -0.5em; }
    .drom header p {
      font-size: 1.05em;
      line-height: 1.6em; }
  .drom #toc {
    text-align: center; }
  .drom .chapter-num {
    display: block;
    color: #9e004f;
    font-size: 0.9em;
    font-weight: 700;
    text-transform: uppercase; }
  .drom .toc-list {
    list-style: none;
    text-align: left; }
    .drom .toc-list:last-child li:last-child a {
      padding: 0.7em 1em; }
    .drom .toc-list a {
      display: block;
      padding: 0.75em 1em;
      border-bottom: 1px solid #cecece;
      line-height: 1.4em;
      color: #313539; }
      .drom .toc-list a:hover {
        background-color: #ebe1cd; }
  .drom #praise .wrapper {
    max-width: 960px; }
  .drom #praise figure .attr {
    color: #9e004f;
    margin: -0.75em 0 2.5em; }
  .drom.chapter {
    border: 0;
    background: #fdf9e0;
    color: #313539;
    font-weight: 400; }
    .drom.chapter header {
      margin-bottom: 1em; }
      .drom.chapter header a {
        color: #b9aa8f; }
        .drom.chapter header a:hover {
          color: #9b8760; }
      .drom.chapter header .wrapper {
        width: auto;
        max-width: none;
        margin-top: 0.9em; }
      .drom.chapter header h3 {
        font-size: 1.25em;
        margin: 0;
        padding-top: 3em;
        max-width: none;
        text-align: center;
        text-shadow: none; }
        .drom.chapter header h3 a {
          border-width: 0.1em;
          border-color: rgba(185, 170, 143, 0.5);
          border: 0; }
          .drom.chapter header h3 a:hover {
            border-color: #b9aa8f; }
      .drom.chapter header #project-of {
        width: 12em;
        border: 0;
        line-height: normal;
        position: absolute;
        right: 2em;
        text-align: right; }
      .drom.chapter header #title {
        position: static;
        margin: 0;
        margin-top: -1.33em;
        margin-left: 0.75em;
        left: auto;
        top: -1em;
        width: 80px;
        float: right; }
    .drom.chapter section {
      border: 0; }
    .drom.chapter nav.chapters {
      position: static;
      background: none;
      display: none; }
      .drom.chapter nav.chapters#side a {
        position: fixed;
        width: 13.25em;
        top: 50%;
        left: -10.5em;
        height: 9em;
        margin-top: -4.5em;
        padding-left: 1.25em;
        padding-right: 0;
        font-size: 1.05em;
        text-transform: none;
        color: #606870;
        -webkit-transition: all 0.4s ease;
        -moz-transition: all 0.4s ease;
        -ms-transition: all 0.4s ease;
        -o-transition: all 0.4s ease;
        transition: all 0.4s ease;
        overflow: hidden; }
        .drom.chapter nav.chapters#side a .chapter-num {
          margin-bottom: 0.5em;
          font-size: 0.9em; }
        .drom.chapter nav.chapters#side a:hover {
          left: -0.25em; }
        .drom.chapter nav.chapters#side a.next {
          left: auto;
          right: -10.5em;
          padding-right: 1.25em;
          padding-left: 0; }
          .drom.chapter nav.chapters#side a.next:hover {
            left: auto;
            right: -0.25em; }
          .drom.chapter nav.chapters#side a.next i {
            float: left; }
      .drom.chapter nav.chapters i {
        display: block;
        float: right;
        height: 100%;
        width: 2.5em;
        padding-top: 3em;
        text-align: center;
        font-size: 1.15em;
        color: #b09f7f; }
        .next .drom.chapter nav.chapters i {
          float: left; }
      .drom.chapter nav.chapters ul {
        text-align: center;
        margin: 2em 0;
        list-style: none;
        padding: 0;
        max-width: none; }
      .drom.chapter nav.chapters li:before {
        display: none; }
      .drom.chapter nav.chapters li a {
        display: block;
        float: none;
        border-top: 0;
        text-transform: none;
        color: #606870;
        text-align: left;
        height: 6em;
        padding-left: 0; }
        .drom.chapter nav.chapters li a .chapter-num {
          color: #9e004f; }
        .drom.chapter nav.chapters li a.next {
          text-align: right;
          padding-left: 1em;
          padding-right: 0; }
          .drom.chapter nav.chapters li a.next i {
            float: right; }
        .drom.chapter nav.chapters li a i {
          float: left;
          padding-top: 1.5em;
          height: 100%; }
    .drom.chapter h2 {
      font-weight: 600;
      text-transform: uppercase;
      font-size: 1.4em;
      text-align: center;
      margin-bottom: 0.75em; }
    .drom.chapter h1 {
      font-size: 2em;
      max-width: 18em;
      margin: 0 auto;
      padding: 0 0.33em;
      margin-bottom: 1.25em; }
    .drom.chapter #main {
      padding-top: 1em; }
    .drom.chapter .toc {
      margin: 0;
      background: #eadec9;
      display: none;
      font-size: 0.9em;
      line-height: 1.33em;
      padding: 8.5em 0 6.5em; }
      .drom.chapter .toc a {
        color: #313539;
        display: block; }
        .drom.chapter .toc a:hover {
          background: #e1d1b3; }
        .drom.chapter .toc a span {
          color: #9e004f;
          font-size: 0.925em;
          font-weight: 700;
          margin-right: 0.75em;
          text-transform: uppercase; }
      .drom.chapter .toc ol {
        list-style: none; }
      .drom.chapter .toc > ol > li {
        border-bottom: 0.15em solid #e1d1b3; }
        .drom.chapter .toc > ol > li > a {
          padding: 0.5em 1.25em;
          border: 0; }
        .drom.chapter .toc > ol > li:hover {
          border-color: #dac6a1; }
        .drom.chapter .toc > ol > li li a {
          border: 0;
          padding: 0.25em 0 0.25em 3em; }
      .drom.chapter .toc .active {
        color: #9e004f;
        background-color: #e1d1b3; }
    .drom.chapter article {
      max-width: 40em;
      margin-bottom: 3em; }
      .drom.chapter article h1 + p, .drom.chapter article h2 + p, .drom.chapter article h3 + p, .drom.chapter article h4 + p, .drom.chapter article p:first-of-type {
        text-indent: 0; }
      .drom.chapter article h2, .drom.chapter article h3, .drom.chapter article h4 {
        font-weight: 300;
        font-size: 1.85em;
        text-shadow: none;
        text-align: left;
        margin: 1.15em 0 0.5em 0;
        text-transform: none;
        color: #9e004f; }
      .drom.chapter article h3 {
        font-size: 1.25em;
        font-weight: 600; }
      .drom.chapter article h4 {
        font-size: 1.25em;
        font-weight: 300;
        color: #313539; }
      .drom.chapter article p {
        margin-bottom: 0;
        text-indent: 2em; }
      .drom.chapter article ul, .drom.chapter article ol {
        margin: 1.25em 0;
        margin-left: 2em; }
        .drom.chapter article ul > li:before, .drom.chapter article ol > li:before {
          padding-right: 0.75em; }
        .drom.chapter article ul li, .drom.chapter article ol li {
          text-indent: -1.25em; }
        .drom.chapter article ul ul, .drom.chapter article ol ul {
          margin-top: 0;
          margin-bottom: 0; }
      .drom.chapter article ul > li:before {
        content: '\25a0';
        color: #9e004f; }
      .drom.chapter article ol {
        counter-reset: numbers;
        list-style: none; }
        .drom.chapter article ol > li:before {
          content: counter(numbers);
          counter-increment: numbers;
          border: 2px solid #9e004f;
          display: inline-block;
          border-radius: 1.25em;
          margin: 0 0.75em 0 -0.15em;
          padding: 0 0.5em 1.15em;
          width: 0.45em;
          height: 0.33em;
          line-height: 1.33em;
          text-align: right;
          color: #9e004f;
          font-size: 0.9em;
          font-weight: 700; }
        .drom.chapter article ol > li {
          margin-bottom: 0.5em;
          text-indent: -2em; }
        .drom.chapter article ol ul {
          margin-top: 0;
          margin-bottom: 0; }
      .drom.chapter article dl dt {
        color: #9e004f;
        display: inline-block; }
      .drom.chapter article dl dd {
        margin-bottom: 1.25em; }
      .drom.chapter article strong, .drom.chapter article b {
        color: #9e004f;
        font-weight: normal; }
      .drom.chapter article aside {
        float: none;
        width: auto;
        background: #fffef8;
        background: #e8dcc6;
        padding: 1em 1.33em;
        margin: 1em 0;
        color: #606870;
        line-height: 1.45em; }
        .drom.chapter article aside ol, .drom.chapter article aside ul {
          margin-left: 1em; }
          .drom.chapter article aside ol li, .drom.chapter article aside ul li {
            margin: 0.75em 0; }
          .drom.chapter article aside ol:first-child, .drom.chapter article aside ul:first-child {
            margin-top: 0; }
          .drom.chapter article aside ol:last-child, .drom.chapter article aside ul:last-child {
            margin-bottom: 0; }
      .drom.chapter article blockquote {
        background: none;
        border-color: #e8dcc6;
        margin: 1.25em 0;
        padding: 0;
        padding-left: 1.25em;
        font-size: 0.95em;
        line-height: 1.6em; }
      .drom.chapter article blockquote p:first-of-type::first-letter, .drom.chapter article aside p:first-of-type::first-letter {
        display: inherit;
        color: inherit;
        font: inherit;
        margin: 0;
        float: none; }
      .drom.chapter article.resources {
        font-size: 0.85em;
        line-height: 1.65em;
        max-width: 46.5em; }
      .drom.chapter article .chapters {
        display: block; }

@media only screen and (min-width: 720px) {
  .drom header .wrapper {
    width: 700px; }
  .drom .menu-trigger {
    font-size: 1.5em;
    margin-left: 1.25em; }
  .drom .toc-list {
    width: 47%;
    display: inline-block;
    vertical-align: top; }
    .drom .toc-list:last-child {
      margin-left: 5%; }
  .drom figure {
    width: 47%;
    display: inline-block;
    vertical-align: top; }
    .drom figure:nth-of-type(even) {
      margin-left: 5%; }
  .drom.chapter header {
    margin-bottom: 2.5em; }
  .drom.chapter nav.chapters {
    display: block; }
  .drom.chapter header h3 {
    padding: 0.65em 0; }
  .drom.chapter h1 {
    font-size: 2.75em; }
  .drom.chapter article > p:first-of-type {
    font-size: 1em;
    line-height: 1.5em;
    color: #777;
    background-color: rgba(225, 209, 179, 0.5);
    padding: 1em 1.25em;
    margin: 0 -1.25em 0.75em; }
  .drom.chapter article .chapters li {
    float: left;
    width: 49.5%;
    text-align: left; }
    .drom.chapter article .chapters li:last-child {
      float: right;
      text-align: right; }
  .drom.chapter article blockquote {
    margin-left: 2em; } }
@media only screen and (min-width: 960px) {
  .drom.chapter article > p:first-of-type {
    font-size: 1.1em; }
  .drom.chapter article aside {
    float: right;
    width: 50%;
    margin: 0.5em -21% 1em 4%;
    padding: 1.25em 1.5em;
    font-size: 0.95em; } }
@media only screen and (min-width: 1040px) {
  .drom.chapter h1 {
    font-size: 3em; }
  .drom.chapter article {
    font-size: 1.05em;
    line-height: 1.6em; }
    .drom.chapter article p {
      text-indent: 2.5em; }
    .drom.chapter article ul, .drom.chapter article ol {
      margin-left: 2.5em; }
    .drom.chapter article.resources {
      font-size: 0.885em;
      line-height: 1.65em; }
    .drom.chapter article blockquote {
      margin-left: 2.5em; } }
@media only screen and (min-width: 1200px) {
  .drom.chapter article aside {
    float: right;
    width: 62%;
    margin-left: 4%;
    margin-right: -33%; } }
